.parallax_section {
display: block;
.porto_container {

.row {
display: flex;


.vc_column_container {

.column_inner {

.porto_animation {
    display: flex;
    width: 100px;
    height: auto;
    margin-top: 120px;

   
    .porto_animation img {
        
    
    }


}
}    
}
} 
} }


.ultimate_content_box {

   

        .image_porto {
           
    }
    .icon_box {
       
        i {
            font-size: 50px;
            color: red;
        }
    }
    
    }
    .icon_box_second, .icon_box_third {
        display: flex; 
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    
    
        
        i {
            color: red; 
            font-size: 50px; 
    }
    }