@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f1; 
    .logo {
        margin-left: 150px;
        margin-bottom: 20px;

    }
    .container {
        max-width: 400px;
    }
    .row {
       display: block; 
    }
    .login_box {
       padding: 25px;
        border:  1px solid black;
        border-radius: 10px ;
        box-sizing: border-box;
        background-color: white;
    }
}
